{{ $size := len .room.Users }}
<div id="content"
  style="background: rgb(63,94,251); background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(42,63,168,1) 63%, rgba(0,0,0,1) 100%)"
  class="p-8 border w-full border-yellow-400 text-center text-white">
  <h2 class="text-xl mb-2 font-black">WAITING ROOM</h2>
  <p class="text-xs">{{ .room.ID }}</p>
  <p class="text-sm">players join {{ $size }} / {{ .room.MaxPlayers }}, plase wait...</p>
  <div class="grid grid-cols-4 justify-center items-center gap-2 mt-8">
    {{ range $key,$val := .room.Users }}
    <div class="border-2 border-yellow-400 bg-blue-800">
      <img class="w-full h-14" src="/assets/images/avatar.avif" />
      <p class="text-xs text-ellipsis overflow-hidden w-10 my-0 m-auto">{{ $val.Username }} </p>
    </div>
    {{ end }}
    {{ range $val := .emptySpace }}
    <div class="w-12 h-12 border-2 border-yellow-400 bg-blue-800"></div>
    {{ end }}
  </div>
  <div class="mt-8">
    {{ if eq .room.MaxPlayers $size }}
    <p> room starting now ... </p>
    {{ else }}
    <a href="/games/ludo_classic" class="py-3 bg-blue-900 rounded">
      <p class="inline font-black px-6 ">Cancel</p>
    </a>
    {{ end }}
  </div>
</div>
