<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traya7 Win</title>
  <link href="./assets/global.css" rel="stylesheet">
  <link href="./assets/main.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>

<body class="h-screen flex ">
  {{ template "base_menu" . }}
  <div class="w-full flex justify-center items-center">
    this game history
  </div>
</body>

</html>
